.button {
  background: none;
  border: 1px solid $main;
  @include size(190px, 50px);
  cursor: pointer;
  text-transform: uppercase;
  font-family: Gotam, sans-serif;

  &:hover {
    color: $hover;
    border-color: $hover;
  }
}