//Fonts
// $josefin: "Josefin Sans", sans-serif;
// $aleo: "Aleo", sans-serif;

//Colors 
$white: #fff;

$main: #2c4058;
$black: #232323;
$text: #4b5562;
$hover: #55b7ff;
$violet: #7e5aff;

// For media
$mobile-portrait: 480px;
$mobile: 767px;
$desktop: 1024px;