.contact {
  @include size(770px, 450px);
  @include pos($b: 375px, $l: 50%);
  transform: translateX(-50%);
  background: url(../images/contact.png) no-repeat bottom center, $white;
  background-size: contain;
  color: $main;
  font-family: Gotam, sans-serif;

  &__title {
    margin-top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    padding-bottom: 45px;
    display: flex;
    font-size: 18px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__item > svg {
    @include size(16px);
    margin-right: 10px;
    fill: $violet;
  }
}

.row {
  padding: 40px 50px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input {
    @include size(310px, 50px);
    font-size: 18px;
    color: $main;
    // font-family: GothamBook, sans-serif;
    border-bottom: solid 1px #4b556275;
    margin-bottom: 20px;
    padding-left: 10px;

  }

  &__input::placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-align: left;
    color: $text;
    font-family: GothamBook, sans-serif;
  }

  &__input:active, &__input:focus {
    border-bottom: solid 1px $main;
    color: $main;
  }

  &__button {
    width: 140px;
    @include pos($r: 0px, $b: 0);
  }

  &__button:hover {
    color: $violet;
    border-color:$violet;
  }
}