.contact {
  @include size(770px, 450px);
  @include pos($b: 375px, $l: 50%);
  transform: translateX(-50%);
  background: url(../images/contact.png) no-repeat bottom center, $white;
  background-size: contain;
  color: $main;
  font-family: Gotam, sans-serif;

  &__title {
    margin-top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.row {
  padding: 40px 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input {
    @include size(310px, 50px);
    font-size: 18px;
    color: $main;
    font-family: GothamBook, sans-serif;
    padding-left: 5px;
    border-bottom: solid 1px $text;
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__input::placeholder {
    font-size: 18px;
    text-align: left;
    color: $text;
    font-family: GothamBook, sans-serif;
    padding-left: 5px;
  }

  &__input:active, &__input:focus {
    border-bottom: solid 1px $main;
  }

  &__button {
    background: none;
    border: 1px solid $main;
    @include size(140px, 50px);
    @include pos($r: 7px, $b: -60px);
  }
}