.gallery {
  &__title {
    margin: 180px auto 100px;
  }

  &__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
  }

  &__img {
    width: 25%;

    & > img {
      height: 49%;
    }

    & > img:first-child {
      padding-bottom: 2%;
    }
  }

  &__main_img {
    width: 48%;
    height: 100%;
    position: relative;
    z-index: 1;

    & > img {
      height: 100%;
    }

    & > img:first-child {
      padding-bottom: 1%;
    }

    &::before {
      content: '';
      background: url(../images/360.png) no-repeat center center;
      background-size: cover;
      @include size(80px);
      @include pos($t: 50%, $l: 50%);
      transform: translate(-50%, -50%);
      z-index: 99;
    }
  }

  &__button {
    margin: 60px auto 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}